page-login {
 
}
.login{
    background: white;
}
.input{
    background: whitesmoke;
    margin: auto;
    top: 5%;
    width: 50%;
}

.btns{
    position: relative;
    margin-top: 60px;
    left: 44%;
}

.image{
    height: 50%;
    width: 30%;
    top:20%;
    left:33%;
    position: relative;
}