page-login {
 
}

.title, .subtitle, .icon{
    text-align:center;
}

.title {
    color: grey;
    font-size:40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subtitle {
    color:grey;
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.icon img {
    width: 375px;
}

.login{
    background: white;
}

.buttons{
    text-align: center;
    margin-top: 3%;
}